.signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

.title {
    position: absolute;
    top: 10%;
}

.signup-form {
    position: absolute;
    top: 20%;
    height: 77%;
    width: 99%;
}

.input-name {
    width: 80%;
    left: 0;
    top: 17%;
}

.input-email {
    width: 80%;
    top: 22%;
    left: 0;
}

.input-birthday {
    position: absolute;
    top: 25%;
    left: 0;
    width: 80%;
}

.wheel-picker {
    position: absolute;
    bottom: 20%;
    width: 80%;
    left: 5%;
}

.divider {
    position: absolute;
    width: 90%;
    bottom: 7%;
}

.next-button-1 {
    border: none;
    background-color: rgb(80, 78, 78);
    color: rgb(207, 204, 204);
    padding: .5em 1em;
    border-radius: 1.5em;
    position: fixed;
    bottom: 0%;
    right: 5%;
    font-weight: 600;
    font-size: 1.2em;
}

.next-text {
    text-decoration: none;
    color: rgb(207, 204, 204);
}