.password-form {
    display: flex;
    height: 95vh;

}


.input-password {
    position: absolute;
    top: 20%;
    width: 90%;
    left: 5%;
}

.divider-3 {
    position: absolute;
    width: 90%;
    bottom: 10%;
}

.next-button-3 {
    border: none;
    background-color: rgb(80, 78, 78);
    color: rgb(207, 204, 204);
    padding: .5em 1em;
    border-radius: 1.5em;
    position: fixed;
    bottom: 3%;
    right: 5%;
    font-weight: 600;
    font-size: 1.2em;
}