.profile-header {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
}

.profile-header-container {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.profile-back-btn {
    position: absolute;
    left: 3%;
}

.profile-header-container h1 {
    font-size: 1em;
    margin: 0;
}

.profile-header-container p {
    font-size: .9em;
    margin: 0;
    color: grey;
}

.backdrop-container {
    position: absolute;
    width: 100%;
    top: 7.3%;
    height: 18%;
    background-size: cover;
}

.profile-data-top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 22%;
    width: 99%;
}

.avatar-container {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.profile-avatar {
    border: 3px solid white;
}

.avatar-container h1 {
    margin: 0;
    text-align: start;
}

.avatar-container p {
    text-align: start;
    margin-top: .6em;
    margin-bottom: 0;
    color: grey;
}


.setup-profile-btn {
    position: absolute;
    top: 18%;
    right: 3%;
    border: 1px solid grey;
    background-color: transparent;
    padding: .4em .9em;
    border-radius: 1.5em;
}

.profile-setup-link {
    text-decoration: none;
    color: black;
}

.profile-bio {
    color: grey;
}

.profile-tabs {
    position: absolute;
    top: 50%;
    width: 99%;
}

.tweet-container {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.top-half-tweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-middle-tweet-profile {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    left: 25%;
}

.tweet-creator-name {
    margin: 0;
}

.tweet-date {
    font-weight: 300;
}

.tweet-description {
    margin: 0;
}

.bottom-half-tweet {
    display: flex;
    padding-top: .8em;
    justify-content: space-around;
}

.floating-tweet-icon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    right: 7%;
    background-color: rgb(83, 169, 250);
    padding: .5em;
    border-radius: 2em;
}

.tweet-popup-top {
    display: flex;
    padding: .5em;
    justify-content: space-between;
    background-color: white;
    color: black
}

.exit-tweet {
    margin-left: .5em;
}

.tweet-submit {
    position: fixed;
    top: 2%;
    right: 5%;
    border: none;
    background-color: rgb(112, 197, 253);
    color: white;
    padding: .5em 1.2em;
    border-radius: 1.5em;
}

.tweet-popup-container {
    display: flex;
    align-items: center;
}

.tweet-avatar {
    margin-left: .5em;
    align-self: flex-start;
}

.tweet-form {
    margin-left: .7em;
    display: flex;
    flex-direction: column;
}

.tweet-image {
    margin-top: 3em;
    width: 80%;
    height: 30%;
    border-radius: 1em;
    align-self: center;

}

.tweet-form input {
    border: none;
    outline: none;
}

.reply-access {
    display: flex;
    align-items: center;
    margin-left: 4em;
    color: rgb(0, 140, 255);
}

.input-options {
    display: flex;
    justify-content: center;

}

.show-more {
    position: absolute;
    border: none;
    color: rgb(79, 185, 255);
    text-align: left;
    left: 5%;
    background: none;
    padding-bottom: 1em;
}




