.login-password-step-page {
    display: flex;
    width: 100%;
    height: 95vh;
    justify-content: center;
}

.password-title {
    position: absolute;
    top: 8%;
    left: 4%;
}

.password-login-form {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    top: 15%;
    flex-direction: column;
}

.input-login-password {
    width: 90%;
}

.input-login-password label {
    font-size: 1.2em;
}

.divider-login-password-step {
    position: fixed;
    width: 90%;
    bottom: 10%;
}

.password-btn {
    border: none;
    background-color: rgb(80, 78, 78);
    color: rgb(207, 204, 204);
    padding: .5em 1em;
    border-radius: 1.5em;
    position: fixed;
    bottom: 3%;
    right: 5%;
    font-weight: 600;
    font-size: 1.2em;
}