.confirmPage {
    height: 95vh;
    display: flex;
    justify-content: center;
}

.back-arrow {
    position: absolute;
    top: 5%;
    left: 5%;
}

.title {
    position: absolute;
    top: 8%;
    left: 5%;
}

.subtext {
    color: grey;
    position: absolute;
    top: 15%;
    left: 5%;
    max-width: 90%;
}

.confirm-form {
    height: 95vh;
    width: 100%;
}

.divider-2 {
    position: absolute;
    width: 90%;
    bottom: 10%;
}

.next-button-2 {
    border: none;
    background-color: rgb(80, 78, 78);
    color: rgb(207, 204, 204);
    padding: .5em 1em;
    border-radius: 1.5em;
    position: fixed;
    bottom: 3%;
    right: 5%;
    font-weight: 600;
    font-size: 1.2em;
}

.input-code {
    position: absolute;
    top: 25%;
    width: 90%;
    left: 0;
}