.createAccountPage {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

.submit-title {
    position: absolute;
    top: 8%;
}

.submit-button {
    position: absolute;
    bottom: 35%;
    border: none;
    background-color: rgb(88, 175, 247);
    color: white;
    padding: .7em 4.3em;
    border-radius: 3em;
    font-size: 1.5em;
    font-weight: 600;
}