/* .next-button {
    border: none;
    background-color: rgb(80, 78, 78);
    color: rgb(207, 204, 204);
    padding: .5em 1em;
    border-radius: 1.5em;
    position: fixed;
    bottom: 0%;
    right: 3%;
    font-weight: 600;
    font-size: 1.2em;
}

.back-arrow {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 10%;
}

.box-test {
    border: 1px solid red;
    background-color: red;
} */