.commentsOrigin {
    border-bottom: 1px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.like-count {
   position: absolute;
   right: 31%;
}

.retweet-count {
    position: absolute;
   left: 44%;
}

.reply-count {
    position: absolute;
    left: 22%;
}

.show-more-comments {
    border: none;
    background:none;
    text-align: left;
    padding-bottom: 1em;
    color: rgb(53, 173, 253);
}

.retweet-container {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.retweet-icon {
    margin: 0;
}
.retweet-text {
    margin: 0;
}

.tweet-image-container {
    margin-top: 1em;
    display: flex;
    width: 100%;
    height: 8em;
    justify-content: flex-end;
}

.tweet-image-view {
    width: 82%;
    object-fit: cover;
    border-radius: 1em;
}