.commentsOrigin {
    border-bottom: 1px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.like-count {
   position: absolute;
   right: 31%;
}

.reply-count {
    position: absolute;
    left: 20%;
}